FQDNLookup   false

LoadPlugin network

<Plugin "network">
    <Listen "0.0.0.0">
        SecurityLevel "Encrypt"
        AuthFile "/etc/collectd/auth_file"
    </Listen>

    Server "{{ FORWARD_ADDRESS }}" ""{{ FORWARD_PORT }}"
    Forward true
</Plugin>
